html{
    background-color: black;
}
h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-transform: capitalize;
}
#principal{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}
p{
    color: yellow;
  
}
#guera{
    border: 5px white solid;
    width: 100%;
}